/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Styles variables  */
:root {
    --primary-font-family: 'Luckiest Guy', sans-serif;
    --secondary-font-family: 'Open Sans', sans-serif;

    --main-color: #FFFFFF;
    --secondary-color: #23272A;
    --third-color: #F6F6F6;
    --fourth-color: #5865f2;
}

/* General styles */
body {
    font-family: var(--secondary-font-family);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
.discord__header {
    background-image: url(../images/header-background.png);
    background-size: cover;
    background-position: center;
    color: var(--main-color);
    text-align: center;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.discord__header h1 {
    font-family: var(--primary-font-family);
    font-size: 2.5em;
    margin-bottom: 1em;
}

.discord__header p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 2em;
}

.discord__header__buttons button {
    background-color: var(--fourth-color);
    color: var(--main-color);
    border: none;
    padding: 15px 30px;
    font-size: 1.1em;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 25px;
    margin: 20px;
}

.discord__header__buttons #button2 {
    background-color: var(--secondary-color);
}

/* Sections */
.discord__servers,
.discord__calls,
.discord__configs,
.discord__technology {
    padding: 80px 0;
    text-align: center;
}

.discord__servers {
    background-color: var(--third-color);
}

.discord__calls {
    background-color: var(--main-color);
}

.discord__technology {
    background-color: var(--third-color);
}

.discord__servers__content,
.discord__calls__content,
.discord__configs__content,
.discord__technology__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.discord__servers__content > div,
.discord__calls__content > div,
.discord__configs__content > div,
.discord__technology__content > div {
    text-align: left;
}

.discord__servers__content img,
.discord__calls__content img,
.discord__configs__content img,
.discord__technology__content img {
    max-width: 100%;
    margin-bottom: 2em;
}

.discord__servers__content h2,
.discord__calls__content h2,
.discord__configs__content h2,
.discord__technology__content h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

.discord__technology__content h2 {
    font-family: var(--primary-font-family);
    text-transform: uppercase;
    font-size: 2.5em;
}

.discord__servers__content p,
.discord__calls__content p,
.discord__configs__content p,
.discord__technology__content p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 2em;
}

/* Footer */
.discord__footer {
    background-color: var(--secondary-color);
    color: var(--main-color);
    text-align: center;
    padding: 50px 0;
}

.discord__footer .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.discord__footer img {
    width: 40px;
}

.discord__footer h3 {
    font-size: 2rem;
}


/* Desktop styles */
@media screen and (min-width: 768px) {
    .discord__header {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .discord__header h1 {
        font-size: 3em;
        margin-bottom: 0;
        justify-content: center;
        justify-self: center;
    }

    .discord__header p {
        font-size: 1.2em;
        margin-bottom: 0;
        margin: 10px;
    }

    .discord__header__buttons {
        display: flex;
        align-items: center;
        justify-self: center;
    }

    .discord__servers__content,
    .discord__calls__content,
    .discord__configs__content,
    .discord__technology__content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .discord__calls__content,
    .discord__technology__content {
        flex-direction: row-reverse;
    }

    .discord__servers__content > div,
    .discord__calls__content > div,
    .discord__configs__content > div,
    .discord__technology__content > div {
        flex: 1;
    }

    .discord__servers__content img,
    .discord__calls__content img,
    .discord__configs__content img,
    .discord__technology__content img {
        max-width: 50%;
    }

    .discord__technology {
        text-align: left;
    }

    .discord__technology__content h2 {
        font-size: 3em;
    }
}